@{
	PageData["title"] = "Dashboard";
}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Dashboard
	</h1>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Features</h3>
					<div class="box-tools">
						<div class="input-group">
							<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th>Name</th>
							<th>Ticket</th>
							<th>Active</th>
							<th>Owner</th>
						</tr>
						<tr>
							<td>Add Feature</td>
							<td><a href="https://github.com/charleslbryant/Featurz/issues/2" target="_blank">F2</a></td>
							<td><span class="label label-success">Active</span></td>
							<td>charles.bryant</td>
						</tr>
						<tr>
							<td>List Features</td>
							<td><a href="https://github.com/charleslbryant/Featurz/issues/3" target="_blank">F3</a></td>
							<td><span class="label label-danger">Inactive</span></td>
							<td>charles.bryant</td>
						</tr>
						<tr>
							<td>View Feature</td>
							<td><a href="https://github.com/charleslbryant/Featurz/issues/4" target="_blank">F4</a></td>
							<td><span class="label label-danger">Inactive</span></td>
							<td>charles.bryant</td>
						</tr>
						<tr>
							<td>Edit Feature</td>
							<td><a href="https://github.com/charleslbryant/Featurz/issues/5" target="_blank">F5</a></td>
							<td><span class="label label-danger">Inactive</span></td>
							<td>charles.bryant</td>
						</tr>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
</section><!-- /.content -->