@{
	PageData["title"] = "Error 404: Page Not Found";
}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Error 404: Page Not Found
	</h1>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<p>The page you're looking for was not found. You can <a href="javascript:history.back()">go back</a> or start over by navigating to the <a href="/">home screen</a>.</p>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section><!-- /.content -->
