@{
	PageData["title"] = "Add Feature";
}

@section pageStyles{
	<!-- iCheck for checkboxes and radio inputs -->
	<link href="~/content/iCheck/all.css" rel="stylesheet" type="text/css" />
}

@section pageScripts{
	<script type="text/javascript">
		$(function () {
			//Flat green color scheme for iCheck
			$('input[type="checkbox"].flat-green, input[type="radio"].flat-green').iCheck({
				checkboxClass: 'icheckbox_flat-green',
				radioClass: 'iradio_flat-green'
			});

			//Flat red color scheme for iCheck
			$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
				checkboxClass: 'icheckbox_flat-red',
				radioClass: 'iradio_flat-red'
			});
		});
	</script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Add Feature
	</h1>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-body no-padding">
					<div class="box-body">
						<form role="form" ng-submit="featureAdd()">
							<div id="messages" ng-show="message">{{ message }}</div>
							<div class="form-group has-success">
								<label class="control-label" for="featureName"><i class="fa fa-check"></i>Name<span class="help-block" ng-show="errorName">{{ errorName }}</span></label>
								<input type="text" class="form-control" id="featureName" placeholder="Name of feature ..." ng-model="feature.name" />
							</div>
							<div class="form-group">
								<label class="control-label" for="featureTicket"><i class="fa fa-warning"></i>Ticket</label>
								<input type="text" class="form-control" id="featureTicket" placeholder="Ticket Number/Id" ng-model="feature.ticket" />
							</div>
							<div class="form-group">
								<label class="control-label" for="featureOwner"><i class="fa fa-warning"></i>Owner</label>
								<select class="form-control">
									<option>charles.bryant</option>
									<option>darshit.dave</option>
								</select>
							</div>
							<div class="form-group">
								<label class="control-label" for="featureTicket">
									Is Active
								</label>
								<div>
									<label>
										<input type="radio" name="r3" class="flat-green" checked />
									</label>
									<label>
										<input type="radio" name="r3" class="flat-red" />
									</label>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
</section><!-- /.content -->