<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="archer.db.connectionstring.mongo" value="mongodb://localhost/{DB_NAME}"/>
		<add key="archer.db.name" value="Featurz"/>
	</appSettings>
	<connectionStrings>
		<!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
		<add name="MongoServerSettings" connectionString="mongodb://localhost/SampleApp" />
	</connectionStrings>
</configuration>