@{
	Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@section styles
{
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href=".~/Content/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/AdminLTE.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
	<script src="~/Scripts/angular.min.js"></script>
}

@section bottomScripts
{
	<script src="~/scripts/jquery-1.9.0.min.js"></script>
	<script src="~/scripts/jquery.min.js"></script>
	<script src="~/scripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="~/scripts/AdminLTE/app.js" type="text/javascript"></script>
}


<header class="header">
	<a href="../../index.html" class="logo">
		<!-- Add the class icon to your logo image or logo icon to add the margining -->
		FEATURz
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	</nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="left-side sidebar-offcanvas">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- search form -->
			<form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search..." />
					<span class="input-group-btn">
						<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li>
					<a href="../../index.html">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-th"></i>
						<span>Features</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-angle-double-right"></i> View Features</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Add Feature</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-th"></i>
						<span>Users</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-angle-double-right"></i> View Users</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Add User</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i> Roles</a></li>
					</ul>
				</li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>
	<!-- Right side column. Contains the navbar and content of the page -->
	<aside class="right-side">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Dashboard
			</h1>
		</section>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Features</h3>
							<div class="box-tools">
								<div class="input-group">
									<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
									<div class="input-group-btn">
										<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</div>
						</div><!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th>Name</th>
									<th>Ticket</th>
									<th>Active</th>
									<th>Owner</th>
								</tr>
								<tr>
									<td>Add Feature</td>
									<td><a href="https://github.com/charleslbryant/Featurz/issues/2" target="_blank">F2</a></td>
									<td><span class="label label-success">Active</span></td>
									<td>charles.bryant</td>
								</tr>
								<tr>
									<td>List Features</td>
									<td><a href="https://github.com/charleslbryant/Featurz/issues/3" target="_blank">F3</a></td>
									<td><span class="label label-danger">Inactive</span></td>
									<td>charles.bryant</td>
								</tr>
								<tr>
									<td>View Feature</td>
									<td><a href="https://github.com/charleslbryant/Featurz/issues/4" target="_blank">F4</a></td>
									<td><span class="label label-danger">Inactive</span></td>
									<td>charles.bryant</td>
								</tr>
								<tr>
									<td>Edit Feature</td>
									<td><a href="https://github.com/charleslbryant/Featurz/issues/5" target="_blank">F5</a></td>
									<td><span class="label label-danger">Inactive</span></td>
									<td>charles.bryant</td>
								</tr>
							</table>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div>
			</div>
		</section><!-- /.content -->
	</aside><!-- /.right-side -->
</div><!-- ./wrapper -->